{% extends 'base.html' %}

{% block title %} Games searcher {% endblock %}

{% block content %}

	<div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content-inverse">
                                    <h1 class="cover-heading">Find the best offers with just one click.</h1>
                                    <h2 class="lead">Simple, easy and free solution to find cheap games. Sign in to receive personalized recommendations!</h2>
                                    <a class="btn btn-success btn-default" href="/signin">Sign in</a>
                                </div>
                            </div>

                        </div>
                    </div>

{% endblock %}