{% extends 'base.html' %}
{% block title %}Recommendations{% endblock %}
{% block content %}

<div class="container">
		
	{% if recommendations|length > 0 %}

		<h1>Recommended games</h1>
		
		<table class="table table-hover table-bordered">
				<thead>
        			<tr>
        				<th>Cover</th>
            			<th>Title</th>
            			<th>Steam ID</th>
        			</tr>
    			</thead>
    			{% for r in recommendations %}
    			<tbody>	
					<td><img src={{r.1.coverString}} /></td>
					<td> {{r.1.name}} </td>
					<td> {{r.1.steamID}} </td>
				</tbody>
				{% endfor %}
		</table>

	{% else %}
    	<div class="alert alert-info">There are no recommendations for you, yet.</div>
	{% endif %}
	
</div>

	
{% endblock %}