{% extends 'base.html' %}
{% block title %}Recommendations{% endblock %}
{% block content %}

<div class="container">
		
	{% if recommendations|length > 0 %}

		<h1>Recommended games</h1>
		
		<table class="table table-hover table-bordered">
				<thead>
        			<tr>
        				<th class="text-center">Cover</th>
            			<th class="text-center">Title</th>
            			<th class="text-center">Steam ID</th>
        			</tr>
    			</thead>
    			{% for r in recommendations %}
    			<tbody>	
					<td class="text-center"><img src={{r.coverString}} style="width: 231px; height: 87px" class="text-center"/></td>
					<td class="text-center"> {{r.name}} </td>
					<td class="text-center">
						<button class="btn btn-success form-control" type="submit"><a href={{r.steamID}}>See in Steam</a></button>
					</td>
				</tbody>
				{% endfor %}
		</table>

	{% else %}
    	<div class="alert alert-info">There are no recommendations for you, yet.</div>
	{% endif %}
	
</div>

	
{% endblock %}