{% extends 'base.html' %}
{% block title %} Registration {% endblock %}
{% block content %}

	<div class="container">
		<h1 class="heading">Sign in</h1>
		<div class="form-group">
			<div style="color: grey">
				<form method='post' action=''>{% csrf_token %}
					{{form.as_p}}
				<label for="like">Select your favorite genres:</label>
				<select multiple name="like">
					{% for genre in genres %}
						<option>{{ genre.name }}</option>
					{% endfor %}
				</select>
				<br/><br/>
				<button class="btn btn-success" type='submit' value="save">Register</button>
				</form>
				
				{% if noGenres %}
					<br/>
					<div class="alert alert-info text-center">You must select at least one genre.</div>
				{% endif %}
			</div>
			
		</div>
	</div>

{% endblock %}
