{% extends 'base.html' %}

{% block titulo %}Lista de actores{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Estos son los usuarios del sistema y productos que ha comprado/puntuado.</h4>
 			<table class="table table-hover table-bordered">
				<thead>
					<tr>
			          <th>Nombre y apellidos</th>
			          <th>Producto</th>

			        </tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
		 					<td>{{user}}</td>
		 					<td>
  		 						<ul>
		 							{% for item in user.itemRatings.all %}
		 								<li>{{item.name}}</li>
		 								<li>Descripcion: {{item.description}}</li>
		 								{% for aux in itemRats %}
											{% if aux.user == user %}
												{% if aux.item == item %}
													<li>Puntuacion: {{aux.rating}}</li>
												{% endif %}
											{% endif %}
		 								{% endfor %}
		 								<p>-------------------------------------------------</p>
		 							{% endfor %}
		 						</ul>

		 					</td>

	 					<tr>
	 				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}	